html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin:0;
    padding:0;
    }

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    min-height: 100vh;
}


:root {
    --accent-color: #C23366;
    --dark-color: #0A0E29;
    --blue-color: #000F6C;
    --white-color: #FFFFFF;
    --bg-color: #000F6C40;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

.logo {
    width: 206px;
    height: 43px;
    flex-shrink: 0;
}

/* Header styles start */

.header {
    position: fixed; /*фиксирование header*/
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    transition: .2s linear;
    padding-bottom: 20px;
}

.header_active{
    background: #000;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 20px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none
}

.header__item {
    margin-right: 49px;
}
.header__item:last-child {
    margin-right: 0;
}

.header__link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: normal;
    color: #D9D9D9;
    text-decoration: none;
    
}

.header__link:hover, .header__link:focus, .header__link:active{
    opacity: 0.75;
}

/* Header styles end */

/* Intro styles start */

.intro {
    height: 100vh;
    padding-top: 150px;
    background-color: #0A0E29;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
.wrapper_intro {
    max-width: 1120px;
    margin: 0 auto;
}
.wrapper_intro {
    position: relative;
}
.wrapper_intro img {
    position: absolute;
}
.wrapper_intro h1{
    position: relative;
}

.intro__title {
    color: #D9D9D9;
    font-family: Montserrat Alternates;
    font-size: 50px;
    width: 708px;
    height: 315px;
    margin-bottom: 30px;
}

.intro__subtitle1 {
    color: #C23366;
    font-size: 25px;
    font-weight: 500;
    width: 354px;
    height: 60px;
    font-family: Montserrat;
    margin-bottom: 30px;
}

.intro__subtitle2 {
    /* padding-left: 250px; */
    color: #C23366;
    font-size: 25px;
    font-weight: 500;
    font-family: Montserrat;
    min-width: 260px;
    height: 60px;
}

.pic {
    padding-left: 450px;
}
.Splines-pic {
    width: 577px;
    height: 600px;
}

/* О коворкинге*/

.wrapper_coworking {
    max-width: 1120px;
    margin: 0 auto ;
}

.title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 120px;
}

.coworking__cl {
    background-color:#000F6C;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 85px;
}

.coworking__title {
    width: 371px;
    height: 47px;
    color: #FFF;
}

.coworking__subtitle {
    width: 371px;
    height: 47px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
}

.cov_scr {
    width: 454px;
    height: 246px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.5px;
}

.left__slider {
    width: 500px;
    height: 643px;

}

/* Возможности коворкинга */

.wrapper_cow2 {
    max-width: 1120px;
    margin: 0 auto ;
}

.section__cow2 {
    max-height: 670px;
    background-color:#0A0E29;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 150px;
}

.cow__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    padding: 0 150px;
}

.cards-pic {
    max-width: 50px;
    margin-bottom: 60px;
}

.cow_text {
    width: 868px;
    height: 38px;
    color: #afafb6;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    align-items: center;
}


/* Тарифы */

.wrapper_tarif {
    max-width: 1120px;
    margin: 0 auto ;
}

.section__tarif {
    min-height: 2600px;
    background-color:#aeb4e1;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 85px;
}

.tarif__tarif {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 58px;
}


.tarif__title {
    width: 800px;
    padding-bottom: 85px;
}

.tarif__thumb {
    width: 500px;
    height: 370px;
    border-radius: 30px;
}

.tarif__fix {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 16px;
}

.price__fix {
    color: #C23366;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 16px;
}

.descrip__fix {
    width: 361.533px;
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
}

.zayavka {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/Shape.svg) no-repeat right center;
}

.zayavka:hover, .zayavka:focus{
    opacity: .65;
}


/*  Контакты  */

.wrap_contacts {
    max-width: 1120px;
    margin: 0 auto ;
}

.section__contacts {
    min-height: 750px;
    height: 100vh;
    background-color:#0A0E29;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 85px;
}

.contacts__title {
    width: 1500px;
    color: #FFF;
    margin-bottom: 67px;
}

.contacts__1 {
    color: #C23366;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    padding-left: 200px;
    margin-right: 236px;
    text-align: center;
}
/*  Заявка  */
.wrap_zayavka {
    max-width: 1120px;
    margin: 0 auto 
}

.forms {
    min-height: 1000px;
    height: 100vh;
    background-color:#000F6C;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: 49px;
}

.forms__title {
    width: 1500px;
    color: #FFF;
    margin-bottom: 40px;
}

.forms__rewi {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 58px;
}

/* При расчете размеров инпутов учитываем внутренние отступы и границы */
input,
textarea {
  box-sizing: border-box;
}

/* Ограничиваем контейнер по ширине 1000px */
.container {
  width: 1200px;
  max-width: 1000px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Стили самой формы */
.content {
  display: flex; /* делаем колонки в ряд */
  align-items: center; /* выравниваем по центру */
  justify-content: space-between; /* колонки растянутся на всю ширину */
  background: rgba(194, 51, 102, 0.70);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

/* Стили левой колонки */
.left-side {
  width: 25%; /* занимает 25% общей ширины */
  height: 100%; /* растягиваем на всю высоту */
  position: relative; /* позиционирование относительное (для ::before) */
  display: flex;
  flex-direction: column; /* внутри элементы располагаем в колонку */
}

/* Стили разделительной линии между левой и правой колонкой */
.left-side::before {
  content: ""; /* контент нам не нужен */
  position: absolute; /* позиционируем относительно .left-side */
  height: 70%; /* высота 70% от .left-side */
  width: 2px; /* ширина 2px */
  background: #afafb6;
  right: -15px; /* позиционируем справа + отступ 15px (справа) */
  top: 50%; /* выравниваем по центру */
  transform: translateY(-50%); /* выравниваем по центру */
}

/* Стили правой колонки */
.right-side {
  width: 75%; /* занимает 75% общей ширины */
  margin-left: 75px;
}

/* Элементы левой колонки: адрес, телефон, email */
.details {
  margin-bottom: 15px;
  text-align: center;
}

/* Общие стили для иконок */
.details i {
  font-size: 25px; /* задаем размер */
  color: #C23366; /* задаем цвет */
  margin-bottom: 10px;
}

/* Стили для заголовков левой колонки */
.topic {
  color:#FFF;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 7px; /* отступ снизу 7px */
}

/* Стили для текста левой колонки */
.text-one,
.text-two {
  font-size: 14px;
  color: #afafb6;
}

/* Заголовок правой колонки */
.topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #FFF;
  margin-bottom: 10px;
}

/* Текст правой колонки */
.right-side p {
  margin-bottom: 20px;
}

/* Контейнер для input'ов формы */
.input-box {
  height: 50px; /* по сути задаем высоту input'а */
  width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
  margin-bottom: 20px; /* отступаем снизу 20px */
  font-family: "Montserrat", sans-serif;
}

/* Стили для input и textarea (поле сообщение) */
.input-box input,
.input-box textarea {
  height: 100%; /* растягиваем на всю высоту контейнера 50px */
  width: 100%; /* растягиваем на всю ширину */
  border: none; /* убираем внешние края */
  border-radius: 5px; /* скругляем края */
  background: #f0f1f8; /* задаем цвет фона */
  padding: 0 20px; /* отступ справа и слева 20px */
  font-family: "Montserrat", sans-serif;
}

/* Отдельно стилизуем поле сообщение */
.input-box textarea {
  resize: none; /* чтобы нельзя было менять высоту */
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}

/* Это контейнер для поля сообщение */
.message-box {
  min-height: 110px; /* минимальная высота 110px */
}

/* Стили для контейнера кнопки */
.button {
  display: inline-block; /* делаем блочно-строчный элемент */
}

/* Стили для самой кнопки */
.button input[type="submit"] {
  color:#C23366;
  font-size: 18px;
  background: #FFF;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

/* Меняем цвет фона при наведении на кнопку */
.button input[type="submit"]:hover {
  background: rgb(174, 174, 191);
}
